header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    background: #6e4b9e;
    padding: 0 10px;
    color: #fff;
    line-height: 50px;
    z-index: 2;
}

header h1 {
    display: inline;
    vertical-align: middle;
}

header img {
    height: 32px;
    vertical-align: text-top;
}

#search {
    display: flex;
    position: absolute;
    right: 10px;
    top: calc(50% - 16px);
    left: 200px;
    height: 32px;
    background: #fff;
}

#search input {
    padding: 0 5px 0 5px;
    border: 0;
    background: transparent;
    min-width: 0;
    flex: 1 1;
}

#search button {
    line-height: 100%;
    background: #ccc;
    border: 0;
    width: var(--height);
    cursor: pointer;
}

#search button:hover {
    background: #eee;
}

main {
    display: grid;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 25px;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: min-content;
    gap: 25px;
    justify-content: center;
    place-items: stretch center;
}

.video {
    position: relative;
    width: 250px;
    height: 166px;
    overflow: hidden;
}

.video img {
    height: 100%;
}

.video .data {
    position: absolute;
    top: calc(100% - 1em - 10px);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    color: #fff;
    background: rgba(110, 75, 158, .9);
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.25s;
}

.video:hover .data {
    top: calc(-1em - 5px);
}

.video .data p {
    margin: 0 0 2.5px 0;
    text-align: center;
    height: 1em;
    line-height: 1em;
}

.video .data dl {
    margin: 0;
    font-size: x-small;
}

.video + .popup {
    display: none;
    position: fixed;
    z-index: 3;
    top: -60px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(110, 75, 158, .9);
}

.video:target + .popup {
    display: block;
}

.player {
    position: absolute;
    top: calc(50% - 180px + 10px);
    left: calc(50% - 320px - 10px);
    width: 640px;
    height: 360px;
    background: #000;
    padding: 10px;
}

.player h1 {
    position: absolute;
    bottom: calc(100% + 5px);
    left: 0;
    color: #fff;
    margin: 0;
}

.player a {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
}

#addVideo {
    width: 250px;
    height: 166px;
    background: #ccc;
    color: #999;
    font-size: 5em;
    border: 0;
    cursor: pointer;
}

#addVideo:hover {
    background: #ddd;
}