header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    background: #6e4b9e;
    padding: 0 10px;
    color: #fff;
    line-height: 50px;
    z-index: 2;
}

header h1 {
    display: inline;
    vertical-align: middle;
}

header img {
    height: 32px;
    vertical-align: text-top;
}

#search {
    display: flex;
    position: absolute;
    right: 10px;
    top: calc(50% - 16px);
    left: 200px;
    height: 32px;
    background: #fff;
}

#search input {
    padding: 0 5px 0 5px;
    border: 0;
    background: transparent;
    min-width: 0;
    flex: 1 1;
}

#search button {
    line-height: 100%;
    background: #ccc;
    border: 0;
    width: var(--height);
    cursor: pointer;
}

#search button:hover {
    background: #eee;
}

main {
    display: grid;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 25px;
    grid-template-columns: repeat(auto-fill, 210px);
    grid-auto-rows: min-content;
    gap: 25px;
    justify-content: center;
    place-items: stretch center;
}

.video {
    position: relative;
    width: 210px;
    height: 118px;
    overflow: hidden;
}

.video img {
    height: 100%;
}

.video span {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    color: #fff;
    background: rgba(110, 75, 158, .9);
    text-align: center;
    padding: 2.5px;
    box-sizing: border-box;
}

#addVideo {
    width: 210px;
    height: 118px;
    background: #ccc;
    color: #999;
    font-size: 5em;
    border: 0;
    cursor: pointer;
}

#addVideo:hover {
    background: #ddd;
}